name: Check input files for validity

on:
  pull_request:
  push:
    branches-ignore:
      - master
      - main

permissions:
  contents: read

jobs:

  Spellcheck:
    uses: Open-Systems-Pharmacology/Workflows/.github/workflows/SpellChecker.yml@main
    

