name: Validate qualifications.csv
# Performs a number of checks on the qualifications.csv file.
# - General checks (valid CSV structure, no BOM, UTF-8 encoding, no empty lines).
# - Ensures that every value in the <Execute> column is either TRUE or FALSE.
# - Checks that the OSP qualification plan release given by the combination of <Repository name> and <Release Version> exists.
# - The workflow name is valid for the combination of <Repository name> and <Released version>:
#   - If empty: "Qualification/workflow.R" must exist in the repository.
#   - If not empty, the given workflow name must exist in the repository.

on:
  workflow_dispatch:
  push:
    paths:
      - qualifications.csv
      - .github/workflows/check-qualifications.yml
      - .github/workflows/check-qualifications.py

jobs:
  check-general-csv-structure:
    uses: Open-Systems-Pharmacology/Workflows/.github/workflows/Check_CSV.yml@main

  check-bom:
    uses: Open-Systems-Pharmacology/Workflows/.github/workflows/Check_BOM.yml@main
          
  utf8check:
    uses: Open-Systems-Pharmacology/Workflows/.github/workflows/UTF8Check.yml@main
    with:
      file-extensions: 'csv'  #File extension(s) to check separated by \| 

  validate-qualifications:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout repository
      uses: actions/checkout@v6
      
    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.x'
        
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install requests pandas

    - name: Run qualifications.csv validation
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: python .github/workflows/check-qualifications.py
